/* --- Basic style ---*/

*{
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin:0;
}

a{
	text-decoration: none;
}

h1 {
	font-size: 30px;
	width: 220px;
	margin: 0;
	margin-left: 5px;
}


.logo {
	display: block;
	width: 40px;
	display: block;
	margin-left: 5px;
}

.main-nav {
	margin: 10px 0 10px 0;
	list-style: none;
	padding: 0;
	display: block;
	width: 70%;
}

.main-nav li {
	width: 150px;
}

.main-nav li a {
	display: block;
	font-size: 20px;
	padding: 5px;
	width: 150px;
	text-align: center;
	padding: 5px;
	color: darkblue;
}
		.main-nav li a:hover {
			color: lightblue;
		}


h2 {
	background-color: lightblue;
	height: 200px;
	width: 100%;
	text-align: center;
	margin: 10px 0 10px;
	padding-top: 40px;
}


.welcome-msg {
	margin-top: -150px;
	padding: 40px;
	display: block;
	width: 400px;

}

.main-content {
	width: 80%;
	max-width: 1200px;
}

.content {
	display: block;
	background-color: lightgrey;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 25px 10px;
	height: 200px;
}

h3 {
	margin-top: 50px;
}

/* --- Flex --- */

.logo-set{
	display: flex;
}

.main-content{
	display: flex;
	flex-wrap: wrap;
	align-self: center;
}

.content {
	flex-basis: 700px;
}

.main-header,
.main-nav,
main {
	display: flex;
	flex-direction: column;
}

h2, h3 {
	align-self: center;
}

.main-header,
.logo-set  {
	align-items: center;
}

.main-nav,
.main-content {
	justify-content: center;
}

.main-nav li {
	align-self: center;
}


.welcome-msg{
	align-self: center;
}

/* --- Media queries --- */


@media (min-width: 920px) {
	.main-header,
	.main-nav {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.main-nav {
		justify-content: flex-end;
	}
	.logo-set{
		margin-right: auto;
	}

	.content {
	flex-basis: 500px;
	}

}



@media (min-width: 1200px) {
	.content {
		flex-basis: : 70%;
	}

}


